body {
  font-family: "Playfair Display", serif;
  font-size: 2vh;
}

@font-face {
  font-family: "Playfair Display", serif;
  font-display: auto;
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 5%;
  text-align: center;
  font-size: 4vh;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 3vh;
}

.App {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  max-height: 100%;
  /* background-color: #f7ece1; */
  color: #242038;
}

.randomBtn {
  /* margin-top: 7%; */
  background-color: #242038;
  color: #cac4ce;
  width: 20%;
  height: 4rem;
  text-align: center;
  border-radius: 20px 20px;
  box-shadow: 0px 13px 16px 2px rgba(171, 171, 171, 0.35);
  align-items: center;
  border: 1px solid darkgray;
  position: relative;
  vertical-align: top;
}

@media only screen and (max-width: 768px) {
  .randomBtn {
    /* margin-top: 15%; */
    background-color: #242038;
    color: #cac4ce;
    width: 50%;
    height: 4rem;
    text-align: center;
    border-radius: 20px 20px;
  }
}

.randomBtn:hover {
  background-color: #cac4ce;
  color: #242038;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.has-text-centered {
  text-align: center !important;
}

.has-text-justified {
  text-align: justify !important;
}

.has-text-left {
  text-align: left !important;
}

.has-text-right {
  text-align: right !important;
}

.container {
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
  .container.is-fluid {
    margin-left: 64px;
    margin-right: 64px;
    max-width: none;
    width: auto;
  }
}

@media screen and (max-width: 1279px) {
  .container.is-widescreen {
    max-width: 1152px;
    width: auto;
  }
}

@media screen and (max-width: 1471px) {
  .container.is-fullhd {
    max-width: 1344px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}
