h1 {
  padding-top: 5%;
  text-align: center;
  font-size: 2em;
}

.App {
  height: 100vh;
  background-color: #f7ece1;
  color: #242038;
}

.navbar, .navbar-item {
  background-color: #242038;
  color: #cac4ce;
}

.navbar-item:hover {
  background-color: #f7ece1 !important;
  color: #242038 !important;
  border-radius: 5px 5px 0 0;
}
